/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');
@import "~bootstrap/dist/css/bootstrap.css";

body{
    background-image: url(http://res.cloudinary.com/dv5me12la/image/upload/v1527264213/IMG_7719-ConvertImage.jpg); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}